<ul class="todo-list">
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam impedit minima modi voluptatum! Doloremque, voluptatum.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda expedita obcaecati pariatur placeat repellendus reprehenderit.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda nisi perferendis porro, quaerat voluptate?</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid at eligendi fugit iste odit.</li>
</ul>
