div{
  display: inline-flex;
  gap: 1rem;
  & button{
    padding: .5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
    &.active{
      background-color: green;
    } 
  }
}