<app-filter-list />
<app-promise />
<div class="contaier">
  <p>{{ e | number : '1.0-0' }}</p>
  <p>{{ e | number : '2.0-5' }}</p>
  <p>{{ e | number : '1.0-5' }}</p>
</div>
<div class="contaier">
  <p>{{ string | titlecase }}</p>
  <p>{{ string | titlecase | slice : 0 : 5 }}</p>
</div>
<div class="contaier">
  <p>{{ date | date : 'GGGG dd MMMM YYYY' }}</p>
</div>
<div class="contaier">
  <p>{{ float }}</p>
  <p>{{ float | currency }}</p>
  <p>{{ float | percent }}</p>
</div>

<div class="contaier">
  <pre>{{ obj | json }}</pre>
</div>

<div class="contaier">
  <p>{{ number }}</p>
  <p>{{ number | mult }}</p>
  <p>{{ number | mult : 3 }}</p>
</div>

<div class="contaier">
  <p>{{ 'longString     11' | exMarks }}</p>
</div>
