<app-statistics />

<!--<app-post />-->
<!--<div>{{ title }}</div>-->
<!--<input-->
<!--  type="text"-->
<!--  [value]="inputValue"-->
<!--  (keydown.space)="onHandleReset()"-->
<!--  (blur)="onHandleBlur(textInput.value)"-->
<!--  (input)="onHandleInput($event)"-->
<!--  #textInput-->
<!--/>-->
<!--<button (click)="onHandleReset()">Reset</button>-->
<img
  style="width: auto; height: 300px; margin: 40px auto 0"
  width="300"
  height="300"
  [src]="image"
  alt="icons"
/>
<body>
  <!--  <app-header />-->
  <!--  <app-todo-list>-->
  <!--    <app-list-item />-->
  <!--  </app-todo-list>-->
</body>
