<!-- <app-post /> -->
<!-- <div>{{ title }}</div> -->
<!-- <input
 type="text"
 [value]="inputValue"
 (keydown.space)="onHandleReset()"
 (blur)="onHandleBlur(textInput.value)"
 (input)="onHandleInput($event)"
 #textInput
/> -->
<!-- <button (click)="onHandleReset()">Reset</button> -->

<body class="body">
  <section class="section">
    <app-statistics />
  </section>
  <section class="section">
    <app-logo />
  </section>
  <section class="section">
    <app-two-ways />
  </section>
  <section class="section">
    <app-conditional-render />
  </section>
  <section class="section">
    <app-cicle-render />
  </section>
  <section class="section">
    <app-pipe-component />
  </section>
  <!--  <app-header />-->
  <!--  <app-todo-list>-->
  <!--    <app-list-item />-->
  <!--  </app-todo-list>-->
</body>
