<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="card">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email" />
      <div class="validation" *ngIf="email?.invalid && email?.touched">
        <small (click)="hideTitle('email')" *ngIf="email?.errors?.['email']"
          >Use valid email!</small
        >
        <small (click)="hideTitle('email')" *ngIf="email?.errors?.['required']"
          >Email field is required!</small
        >
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password" />
      <div class="validation" *ngIf="password?.invalid && password?.touched">
        <small
          (click)="hideTitle('password')"
          *ngIf="password?.errors?.['required']"
          >Password is required field</small
        >
        <small
          (click)="hideTitle('password')"
          *ngIf="password?.errors?.['minlength']"
          >Password should be longer than
          {{password?.errors?.['minlength'].requiredLength}}
          symbols</small
        >
        <small
          (click)="hideTitle('password')"
          *ngIf="password?.errors?.['maxlength']"
          >Password should be shorter than
          {{password?.errors?.['maxlength'].requiredLength}}
          symbols</small
        >
      </div>
    </div>
    <div class="card" formGroupName="address">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select formControlName="country">
          <option value="pl">Польша</option>
          <option value="ua">Украина</option>
          <option value="ge">Грузия</option>
        </select>
      </div>
      <div class="form-control">
        <input type="text" formControlName="city" />

        <div class="validation" *ngIf="city?.invalid && city?.touched">
          <small
            (click)="hideTitle('address', 'city')"
            *ngIf="city?.errors?.['required']"
            >city is required field</small
          >
          <small
            (click)="hideTitle('address', 'city')"
            *ngIf="city?.errors?.['minlength']"
            >city should be longer than
            {{city?.errors?.['minlength'].requiredLength}}
            symbols</small
          >
          <small
            (click)="hideTitle('address', 'city')"
            *ngIf="city?.errors?.['maxlength']"
            >city should be shorter than
            {{city?.errors?.['maxlength'].requiredLength}}
            symbols</small
          >
        </div>
      </div>

      <button type="button" class="btn" (click)="setCapital()">
        Выбрать столицу
      </button>
    </div>

    <div class="card">
      <h2>Ваши навыки</h2>
      <button type="button" class="btn">Добавить умение</button>
      <div class="form-control">
        <label></label>
        <input type="text" />
      </div>
    </div>

    <button [disabled]="form.invalid" type="submit" class="btn">
      Отправить
    </button>
  </form>
</div>
