<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="card">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email" />
      <div
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        class="validation"
      >
        <small
          (click)="hideTitle('email')"
          *ngIf="form.get('email')?.errors?.['email']"
          >Use valid email!</small
        >
        <small
          (click)="hideTitle('email')"
          *ngIf="form.get('email')?.errors?.['required']"
          >Email field is required!</small
        >
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password" />
      <div
        class="validation"
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      >
        <small
          (click)="hideTitle('password')"
          *ngIf="form.get('password')?.errors?.['required']"
          >Password is required field</small
        >
        <small
          (click)="hideTitle('password')"
          *ngIf="form.get('password')?.errors?.['minlength']"
          >Password should be longer than
          {{form.get('password')?.errors?.['minlength'].requiredLength}}
          symbols</small
        >
        <small
          (click)="hideTitle('password')"
          *ngIf="form.get('password')?.errors?.['maxlength']"
          >Password should be shorter than
          {{form.get('password')?.errors?.['maxlength'].requiredLength}}
          symbols</small
        >
      </div>
    </div>

    <div class="card">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select>
          <option value="pl">Польша</option>
          <option value="ua">Украина</option>
          <option value="ge">Грузия</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" />
      </div>

      <button type="button" class="btn">Выбрать столицу</button>
    </div>

    <div class="card">
      <h2>Ваши навыки</h2>
      <button type="button" class="btn">Добавить умение</button>
      <div class="form-control">
        <label></label>
        <input type="text" />
      </div>
    </div>

    <button [disabled]="form.invalid" type="submit" class="btn">
      Отправить
    </button>
  </form>
</div>
